@charset "UTF-8";

/*
em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #a4ec9c;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #16640d;
}

h1#principal {
    text-align: center;
    background-color: rgb(5, 100, 5);
    color: white;
}

h2 {
    color: #3a972e;
}

.basico {
color: #16640d;
font-weight: bold;
}

.intermediario {
color: #63640d;
font-weight: bold;
}

.avancado {
color: #640d0d;
font-weight: bold;
}






